<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      ⚽ Fútbol Fantasy Colombia
    </div>
    <div class="footer-center">
      <span>© {{ currentYear }} - Todos los derechos reservados</span>
    </div>
    <div class="footer-right">
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <mat-icon>share</mat-icon>
      </a>
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <mat-icon>twitter</mat-icon>
      </a>
    </div>
  </div>
</footer>
