<nav class="menu">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span>Sobre nosotros</span>
      </a>
    </li>
    <li>
      <a routerLink="/team" routerLinkActive="active">
        <mat-icon>sports_soccer</mat-icon>
        <span>Mi equipo</span>
      </a>
    </li>
  </ul>
</nav>
