<h2 mat-dialog-title>Crear Torneo</h2>

<form [formGroup]="form" class="form">
  <mat-form-field appearance="outline" class="full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Visibilidad</mat-label>
    <mat-select formControlName="visibility">
      <mat-option value="PUBLIC">Público</mat-option>
      <mat-option value="PRIVATE">Privado</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Máximo de equipos</mat-label>
    <input matInput type="number" formControlName="maxTeams" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput type="date" formControlName="startAt" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Fecha de fin</mat-label>
    <input matInput type="date" formControlName="endAt" />
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="form.invalid"
  >
    Guardar
  </button>
</mat-dialog-actions>
